# === DATASETS ENORMES ===
CHAD_VIDEOS/
Dataset_Le21+GMDCSA24/
DATASETS_COMBINADOS/
out_npz/
out_npz_fall/
out_npz_video/
pruebas_fuera/

# === MODELOS ENORMES ===
models_mix/mix_cnn_lstm_T32_F51.keras
models_mix/mix_cnn_lstm_T32_F51_norm_stats.npz
models_mix/mix_cnn_lstm_T32_F51_threshold.json
models_mix/lgbm_model_F51.pkl

# Si solo quieres subir el LGBM descomenta esto:
# !models_mix/lgbm_model_F51.pkl

# === ENTORNO VIRTUAL ===
venv/
.venv/
env/

# === GIT ===
.git/
.gitignore

# === PYTHON CACHE ===
__pycache__/
*.pyc
*.pyo
*.tmp

# === EDITORES ===
.vscode/
.idea/

# === ARCHIVOS PESADOS ===
*.mp4
*.avi
*.mov
*.zip
*.rar
*.7z
*.npy
*.npz
*.jpg
*.png
*.jpeg
*.bmp
# FORZAR estos 3 archivos
!models_mix/lgbm_model_F51.pkl
!models_mix/mix_cnn_lstm_T32_F51_norm_stats.npz
!models_mix/mix_cnn_lstm_T32_F51_threshold.json
