fastapi==0.120.2
uvicorn[standard]
websockets
python-multipart==0.0.9

numpy==1.26.4
opencv-python-headless==4.10.0.84

scikit-learn==1.5.2
joblib==1.4.2

pydantic==2.12.3
python-dotenv==1.0.1

ultralytics==8.3.221     # YOLO Pose

lightgbm==4.1.0          # LGBM (tu modelo principal)

requests==2.32.3
pillow==10.4.0

python-jose==3.3.0
typing_extensions>=4.14.1
